*{
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}

.labels{
    padding-right: 100px;
}

.main-container{
    display: flex;
}

.left{
    width: 50vw;
    height: 75vh;
    border-right: 1px solid black;
    text-align: center;
    align-self: center;
}

.right{
    text-align: center;
    align-self: center;
    width: 50vw;
}

.form-inline{
    display: flex;
    flex-direction: column;
}

button{
    text-decoration: none;
    background-color: black;
    color: whitesmoke;
    padding: 0.5em 1em;
    margin: 0 1em;
    border-radius: 50px;
}

button:focus{
    outline: none;
    border: none;
}

a{
    text-decoration: none;
    background-color: black;
    color: whitesmoke;
    padding: 0.5em 2em;
    font-size: 1.2em;
    margin: 1em;
    border-radius: 50px;
}

a:hover{
    color: whitesmoke;
    text-decoration: none;
}