*{
    margin: 0;
    padding: 0;
}

.labels{
    padding-right: 100px;
}

.main-container{
    display: flex;
}

.left{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    justify-content: center;
}

.left img{
    width:500px;
    height: 350px;
}

.right{
    align-self: center;
}


button{
    text-decoration: none;
    background-color: black;
    color: whitesmoke;
    padding: 0.5em 1em;
    margin: 0 1em;
    border-radius: 50px;
}

button:focus{
    outline: none;
    border: none;
}

