*{
    margin: 0;
    padding: 0;
}

.labels{
    padding-right: 100px;
}

.main-container{
    display: flex;
}

.left{
    width: 50vw;
    height: 100vh;
    border: 1px solid black;
    text-align: center;
    align-self: center;
}

.right{
    text-align: center;
    align-self: center;
}

.form-inline{
    display: flex;
    flex-direction: column;
}

button{
    text-decoration: none;
    background-color: black;
    color: whitesmoke;
    padding: 0.5em 1em;
    margin: 0 1em;
    border-radius: 50px;
}

button:focus{
    outline: none;
    border: none;
}

