*{
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}

.main-container{
    display: flex;
    margin: 3vw 0rem;
}

.left{
    width: 50vw;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid black;
    justify-content: center;
}

.left img{
    width:500px;
    height: 350px;
}

.right{
    width: 50vw;
    align-self: center;
}

.form-control{
    margin: 0.5em;
}

button{
    text-decoration: none;
    background-color: black;
    color: whitesmoke;
    padding: 0.5em 1em;
    margin: 0 1em;
    border-radius: 50px;
}

button:focus{
    outline: none;
    border: none;
}

a{  
    text-decoration: none;
    background-color: black;
    color: whitesmoke;
    padding: 0.5em 2em;
    font-size: 1.2em;
    margin: 1em;
    border-radius: 50px;
}

a:hover{
    color: whitesmoke;
    text-decoration: none;
}